
<!--<table align="center">
   
    <tr>
        <th>DEL
            <br>
            916
        </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <th>INT
            <br>
            232
        </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <th>OOD
            <br>
            342
        </th>&nbsp;&nbsp;&nbsp;&nbsp;
        <th>DEX
            <br>
            916
        </th>&nbsp;&nbsp;&nbsp;&nbsp;
        <th>NFI
            <br>
            916
        </th>
    </tr>

</table>
-->
<div class="box">
    <div ><button class="a" (click)="add()">DEL
        <br>
       <p>916</p> </button></div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="b">INT
            <br>
           <p> 232</p></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="b">
            OOD
                <br>
               <p> 342</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="b">
            DEX
            <br>
          <p> 916</p> 
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="b">
            NFI
            <br>
           <p> 916</p>
        </div>
        <br/>
        <br/>
        <div>
            
        </div>
