<head>
    <style>
    tr{
        border:1px solid black;
        border-collapse: collapse;
      
    }
    td{
        border:1px solid alpha;
        border-collapse: collapse;
        padding: 7px;
    }

   
    </style>
</head>


<table>
    <tr style="color: limegreen;">
        <td>Delivered</td>
        <td>04-07-2019</td>
        <td>14:00</td>
    </tr>
    <tr>
        <td>Out For Delivary</td>
        <td>08-07-2019</td>
        <td>08:00</td>
    </tr>
    <tr>
        <td>Arrived at Mysore</td>
        <td>06-07-2019</td>
        <td>10:54</td>
    </tr>
    <tr>
        <td>Arrived at Bangalore</td>
        <td>05-07-2019</td>
        <td>11:20</td>
    </tr>
    <tr>
        <td>Transit To Next Hub</td>
        <td>04-07-2019</td>
        <td>11:54</td>
    </tr>
</table>

